<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="rdurvasula-addrbook">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<RollingFile name="LocalLogFileAppender"
			fileName="logs/addrbook.log"
			filePattern="logs/addrbook-%i.log">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="LocalLogFileAppender"/>
		</Root>
		<Logger name="net.rdurvasula.addrbook" level="info" additivity="false">
			<AppenderRef ref="LocalLogFileAppender"/>
		</Logger>
	</Loggers>
</Configuration>
